nterms
prime
sumodd
hello
factorial
function
hw1
array
pattern
ncr
triangle_pattern
square_pattern
right_aligned_triangle_pattern
inverted_triangle_pattern
floyd_triangle_pattern
pyramid_pattern
diamond_pattern
inverted_pyramid_pattern
hollow_diamond_pattern
butterfly_pattern
dectobinary
binarytodec
smallestel_array